@charset "utf-8";
/* CSS Document */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,blockquote,th,td,p，span{margin:0;padding:0}/*清除样式*/
body{font: 14px/18px Microsoft YaHei;margin-top: 0;margin-right: auto;margin-bottom: 0;margin-left: auto;}
ul{ list-style:none}
li {list-style:none;}
dl,dt,dd{list-style:none;}
img{border:0;vertical-align:bottom;}
a{ text-decoration:none;color:#666;}

.box1{width:300px; margin: 0 auto;}
.box1 ul{ width:300px; height:100px; display: block;}
.box1 ul li{width:90%; margin:0 auto; height: 30px; line-height: 30px; text-align: center;}

#wrap 
  { 
   height: 550px; 
   width: 660px; 
   overflow: hidden; 
   position: relative; 
   overflow: hidden; 
  }
  #wrap ul 
  { 
   list-style: none; 
   position: absolute; 
   top: 500px; 
   left: 450px; 
  }
  #wrap li 
  { 
   margin-left:2px; 
   opacity: .3; 
   filter: alpha(opacity=30); 
   text-align: center; 
   line-height: 30px; 
   font-size: 20px; 
   height: 30px; 
   width: 30px; 
   background-color: #fff; 
   float: left; 
   border-radius:3px; 
   cursor:pointer; 
  }
  #slider 
  { 
   position: absolute; 
   top: 0px; 
   left: 0px; 
  }
  #slider img 
  { 
   float: left; 
   border: none; 
  } 
        
        .ul-list {
            overflow: hidden;
        }
        
        .box {
            width: 765px;
            margin: 0 auto;
        }
        
        .ul-list li {
            float: left;
            height: 100px;
            margin: 10px;
            cursor: pointer;
        }
        
        .ul-list li img {
            width: auto;
            height: 100px;
        }
        
        .shopping {
            margin: 10px;
            border: 1px solid #EBEBEB;
            background: #FAFAFA;
        }
        
        .shopping-cart {
            margin-top: 10px;
            background: #eee;
            overflow: hidden;
        }
        
        .shopping-icon {
            width: 100px;
            height: auto;
            text-align: center;
            position: relative;
            float: left;
        }
        
        .shopping img {
            width: 80px;
            height: auto;
        }
        
        .shopping span#cartText {
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -20px;
            color: red;
            font-weight: bold;
            border: 2px solid #ddd;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background: #fff;
        }
        
        .shopping-list {
            padding: 0 20px 20px;
        }
        
        .shopping-list li {
            padding: 20px;
            border-bottom: 1px dashed #ccc;
            overflow: hidden;
        }
        
        .del {
            float: right;
            cursor: pointer;
        }
        
        .del img {
            width: 19px;
            height: auto;
        }
        
        .shopping-warn {
            line-height: 84px;
            float: left;
        }
        
        .shopping-warn span {
            color: red;
            font-size: 16px;
            margin: 0 5px;
        }
        
        #cartLi img {
            float: left;
            margin-right: 20px;
        }
        
        .title {
            float: left;
        }
        
        .checkbox {
            float: left;
            margin-right: 20px;
        }
        
        .price,
        .cart-num,
        .total-price {
            margin-left: 10%;
            float: left;
        }
        
        #cartText {
            display: none;
        }
        
        .cart-num span {
            width: 25px;
            line-height: 25px;
            border: 1px solid #ccc;
            text-align: center;
            float: left;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
        
        .cart-num input {
            width: 50px;
            text-align: center;
            line-height: 25px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-left: 0;
            border-right: 0;
            float: left;
        }
        
        .total-price {
            color: #FF2832;
        }
        
        .tota-priceAll {
            float: right;
            line-height: 84px;
            margin-right: 20px;
        }
        
        .tota-priceAll span {
            color: red;
        }